<a href="https://colab.research.google.com/github/Humaafroz/Internship-Projects/blob/main/Deep_Learning_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as pyplot
%matplotlib inline

In [ ]:
df_Dealers=pd.read_excel('/content/Dataset.xlsx',sheet_name='Dealers')

In [ ]:
df_Dealers

,Dealer_ID,Dealer_Name,Dealer_Country,State,City,ZIpCode
0,1.0,Kenneth Schmitt,india,Goa,Panji,400001.0
1,2.0,Owen Mclaughlin,india,Delhi,Naoida,400002.0
2,3.0,Donald Repinski,india,Karnataka,Bangalore,400003.0
3,4.0,Rachel Oszust,india,Gujrat,Ahemdabad,400004.0
4,5.0,Lynn Knapp,india,Orrisa,Cuttack,400005.0
...,...,...,...,...,...,...
1995,1996.0,Darleen Sullivan,india,Karnataka,Bangalore,400003.0
1996,1997.0,Bobbie Dretzka,india,Gujrat,Ahemdabad,400004.0
1997,1998.0,Colin Wiggins,india,Orrisa,Cuttack,400005.0
1998,1999.0,Marie Groves,india,Maharashtra,Mumbai,400006.0
1999,2000.0,Richard Schwartz,india,Goa,Panji,400001.0

In [ ]:
df_customers=pd.read_excel('/content/Dataset.xlsx',sheet_name='Customers')

In [ ]:
df_customers

,Cust_ID,Cust_Name,Dealer_ID,Country,State,City,ZipCode
0,101.0,pushpak,1.0,ind,goa,panaji,402201.0
1,102.0,raj,3.0,ind,karnataka,banglore,403315.0
2,103.0,ranbir,4.0,ind,gujrat,ahemadabad,326665.0
3,104.0,reyansh,5.0,ind,orrisa,cuttack,543211.0
4,105.0,raunak,2.0,ind,delhi,noida,426232.0
...,...,...,...,...,...,...,...
287995,287996.0,Michael,5.0,ind,delhi,noida,426232.0
287996,287997.0,Tim,4.0,ind,maharashtra,mumbai,215432.0
287997,287998.0,Laurie,5.0,ind,orrisa,cuttack,543211.0
287998,287999.0,Katie,2.0,ind,karnataka,banglore,403315.0
287999,288000.0,Karly,6.0,ind,goa,panaji,402201.0

In [ ]:
df_claims=pd.read_excel('/content/Dataset.xlsx',sheet_name='Claims')

In [ ]:
df_claims

,claim_id,claim_date,claim_amount,Dealer_ID,Cust_ID,Part_ID,Repair_or_Replace
0,1.0,2020-04-01,36000.0,5.0,104.0,901.0,rpr
1,2.0,2020-04-01,42000.0,6.0,106.0,902.0,rplc
2,3.0,2020-04-01,45000.0,4.0,103.0,903.0,rpr
3,4.0,2020-04-01,56000.0,3.0,102.0,904.0,rplc
4,5.0,2020-04-01,39000.0,2.0,105.0,905.0,rpr
...,...,...,...,...,...,...,...
20090,20091.0,2021-01-24,53000.0,1274.0,43974.0,906.0,rplc
20091,20092.0,2021-01-24,36000.0,1275.0,43975.0,907.0,rplc
20092,20093.0,2021-01-24,46000.0,1276.0,43976.0,905.0,rplc
20093,20094.0,2021-01-24,56000.0,1277.0,43977.0,904.0,rplc
20094,20095.0,2021-01-24,33000.0,1278.0,43978.0,902.0,rpr

In [ ]:
df_parts=pd.read_excel('/content/Dataset.xlsx',sheet_name='Parts')

In [ ]:
df_parts

    Part_ID          Part_Name  Manufacturer_ID  Manf_Date
0     901.0          brake pad            501.0 1996-08-12
1     902.0              axle             502.0 1997-03-03
2     903.0            tie rod            503.0 1997-06-13
3     904.0       differential            504.0 1997-01-14
4     905.0    rear suspension            505.0 1996-08-19
5     906.0           radiator            506.0 1997-03-24
6     907.0        clutch kits            503.0 1997-05-12
7     908.0    pressure plates            502.0 1997-05-20
8     909.0          flywheels            505.0 1997-06-29
9     910.0  torque converters            506.0 1997-07-17
10    911.0         flexplates            501.0 1997-08-23

In [ ]:
df_transaction=pd.read_excel('/content/Dataset.xlsx',sheet_name='Transactions')

In [ ]:
df_transaction

       transaction_id  claim_id transaction_date  transaction_amount
0               101.0       1.0       2020-04-01             36000.0
1               102.0       2.0       2020-04-01             42000.0
2               103.0       3.0       2020-04-01             45000.0
3               104.0       4.0       2020-04-01             56000.0
4               105.0       5.0       2020-04-01             39000.0
...               ...       ...              ...                 ...
20090         20091.0   20091.0       2021-01-24             53000.0
20091         20092.0   20092.0       2021-01-24             36000.0
20092         20093.0   20093.0       2021-01-24             46000.0
20093         20094.0   20094.0       2021-01-24             56000.0
20094         20095.0   20095.0       2021-01-24             33000.0

[20095 rows x 4 columns]

In [ ]:
df_vendor=pd.read_excel('/content/Dataset.xlsx',sheet_name='Vendors')

In [ ]:
df_vendor

   Vendor_ID     Name Country        State        City   ZIpCode
0      501.0    Advik     ind          goa      panaji  400001.0
1      502.0    Rudra     ind        delhi       noida  400002.0
2      503.0  Aayansh     ind    karnataka    banglore  400003.0
3      504.0   Adinew     ind       gujrat  ahemadabad  400004.0
4      505.0    Dhruv     ind       orrisa     cuttack  400005.0
5      506.0     Veer     ind  maharashtra      mumbai  400006.0

In [ ]:
df_Dealers.head()

   Dealer_ID      Dealer_Name Dealer_Country      State       City   ZIpCode
0        1.0  Kenneth Schmitt          india        Goa      Panji  400001.0
1        2.0  Owen Mclaughlin          india      Delhi     Naoida  400002.0
2        3.0  Donald Repinski          india  Karnataka  Bangalore  400003.0
3        4.0    Rachel Oszust          india     Gujrat  Ahemdabad  400004.0
4        5.0       Lynn Knapp          india     Orrisa    Cuttack  400005.0

In [ ]:
df_customers.head()

   Cust_ID Cust_Name  Dealer_ID Country      State        City   ZipCode
0    101.0   pushpak        1.0     ind        goa      panaji  402201.0
1    102.0       raj        3.0     ind  karnataka    banglore  403315.0
2    103.0    ranbir        4.0     ind     gujrat  ahemadabad  326665.0
3    104.0   reyansh        5.0     ind     orrisa     cuttack  543211.0
4    105.0    raunak        2.0     ind      delhi       noida  426232.0

In [ ]:
df_claims.head()

,claim_id,claim_date,claim_amount,Dealer_ID,Cust_ID,Part_ID,Repair_or_Replace
0,1.0,2020-04-01,36000.0,5.0,104.0,901.0,rpr
1,2.0,2020-04-01,42000.0,6.0,106.0,902.0,rplc
2,3.0,2020-04-01,45000.0,4.0,103.0,903.0,rpr
3,4.0,2020-04-01,56000.0,3.0,102.0,904.0,rplc
4,5.0,2020-04-01,39000.0,2.0,105.0,905.0,rpr

In [ ]:
df_parts.head()

   Part_ID        Part_Name  Manufacturer_ID  Manf_Date
0    901.0        brake pad            501.0 1996-08-12
1    902.0            axle             502.0 1997-03-03
2    903.0          tie rod            503.0 1997-06-13
3    904.0     differential            504.0 1997-01-14
4    905.0  rear suspension            505.0 1996-08-19

In [ ]:
df_transaction.head()

   transaction_id  claim_id transaction_date  transaction_amount
0           101.0       1.0       2020-04-01             36000.0
1           102.0       2.0       2020-04-01             42000.0
2           103.0       3.0       2020-04-01             45000.0
3           104.0       4.0       2020-04-01             56000.0
4           105.0       5.0       2020-04-01             39000.0

In [ ]:
df_vendor.head()

   Vendor_ID     Name Country      State        City   ZIpCode
0      501.0    Advik     ind        goa      panaji  400001.0
1      502.0    Rudra     ind      delhi       noida  400002.0
2      503.0  Aayansh     ind  karnataka    banglore  400003.0
3      504.0   Adinew     ind     gujrat  ahemadabad  400004.0
4      505.0    Dhruv     ind     orrisa     cuttack  400005.0

In [ ]:
#use case1:Monthly report of top ten Dealers and parts that has been failed:

df_claims['Dealer_ID'].value_counts().head(10)

5.0       971
3.0       922
2.0       922
1.0       922
6.0       394
4.0       218
1248.0    176
1256.0    176
1255.0    176
1254.0    176
Name: Dealer_ID, dtype: int64

In [ ]:
df_claims['Part_ID'].value_counts().head(10)

906.0    4019
901.0    3349
905.0    3349
907.0    3348
902.0    2010
903.0    2010
904.0    2010
Name: Part_ID, dtype: int64

In [ ]:
df_claims['Repair_or_Replace'].value_counts().head(10)

rplc    14736
rpr      5359
Name: Repair_or_Replace, dtype: int64

In [ ]:
df_claims[['Repair_or_Replace','Part_ID']].value_counts().head(10)

Repair_or_Replace  Part_ID
rplc               906.0      3349
                   907.0      3348
                   904.0      2010
                   905.0      2009
rpr                901.0      2009
rplc               901.0      1340
                   902.0      1340
                   903.0      1340
rpr                905.0      1340
                   902.0       670
dtype: int64

In [ ]:
df_claims.head()

,claim_id,claim_date,claim_amount,Dealer_ID,Cust_ID,Part_ID,Repair_or_Replace
0,1.0,2020-04-01,36000.0,5.0,104.0,901.0,rpr
1,2.0,2020-04-01,42000.0,6.0,106.0,902.0,rplc
2,3.0,2020-04-01,45000.0,4.0,103.0,903.0,rpr
3,4.0,2020-04-01,56000.0,3.0,102.0,904.0,rplc
4,5.0,2020-04-01,39000.0,2.0,105.0,905.0,rpr

In [ ]:
repl_or_rep=pd.get_dummies(df_claims['Repair_or_Replace'],drop_first=True)

In [ ]:
repl_or_rep.head()

   rpr
0    1
1    0
2    1
3    0
4    1

In [ ]:
df_claims.drop(['Repair_or_Replace'],axis=1,inplace=True)

In [ ]:
df_claims = pd.concat([df_claims,repl_or_rep],axis=1)

In [ ]:
df_claims.head()

   claim_id claim_date  claim_amount  Dealer_ID  Cust_ID  Part_ID  rpr
0       1.0 2020-04-01       36000.0        5.0    104.0    901.0    1
1       2.0 2020-04-01       42000.0        6.0    106.0    902.0    0
2       3.0 2020-04-01       45000.0        4.0    103.0    903.0    1
3       4.0 2020-04-01       56000.0        3.0    102.0    904.0    0
4       5.0 2020-04-01       39000.0        2.0    105.0    905.0    1

In [ ]:
df_claims.corr()

              claim_id  claim_amount  Dealer_ID   Cust_ID   Part_ID       rpr
claim_id      1.000000      0.000214   0.002988 -0.000791  0.000189 -0.000169
claim_amount  0.000214      1.000000  -0.000154 -0.001481 -0.285543 -0.264751
Dealer_ID     0.002988     -0.000154   1.000000  0.007710 -0.002561  0.000630
Cust_ID      -0.000791     -0.001481   0.007710  1.000000  0.002312 -0.001301
Part_ID       0.000189     -0.285543  -0.002561  0.002312  1.000000 -0.364181
rpr          -0.000169     -0.264751   0.000630 -0.001301 -0.364181  1.000000

In [ ]:
df_claims.columns

Index(['claim_id', 'claim_date', 'claim_amount', 'Dealer_ID', 'Cust_ID',
       'Part_ID', 'rpr'],
      dtype='object')

In [ ]:
df_claims.columns = ['claim_id', 'claim_date', 'claim_amount', 'Dealer_ID', 'Cust_ID',
       'Part_ID', 'Target_column']

In [ ]:
df_claims.head()

,claim_id,claim_date,claim_amount,Dealer_ID,Cust_ID,Part_ID,Target_column
0,1.0,2020-04-01,36000.0,5.0,104.0,901.0,1
1,2.0,2020-04-01,42000.0,6.0,106.0,902.0,0
2,3.0,2020-04-01,45000.0,4.0,103.0,903.0,1
3,4.0,2020-04-01,56000.0,3.0,102.0,904.0,0
4,5.0,2020-04-01,39000.0,2.0,105.0,905.0,1

In [ ]:
df_claims.corr()

,claim_id,claim_amount,Dealer_ID,Cust_ID,Part_ID,Target_column
claim_id,1.000000,0.000214,0.002988,-0.000791,0.000189,-0.000169
claim_amount,0.000214,1.000000,-0.000154,-0.001481,-0.285543,-0.264751
Dealer_ID,0.002988,-0.000154,1.000000,0.007710,-0.002561,0.000630
Cust_ID,-0.000791,-0.001481,0.007710,1.000000,0.002312,-0.001301
Part_ID,0.000189,-0.285543,-0.002561,0.002312,1.000000,-0.364181
Target_column,-0.000169,-0.264751,0.000630,-0.001301,-0.364181,1.000000

In [ ]:
df_claims.drop(['claim_id','Dealer_ID','Cust_ID'],axis=1,inplace=True)

In [ ]:
df_claims.head()

  claim_date  claim_amount  Part_ID  Target_column
0 2020-04-01       36000.0    901.0              1
1 2020-04-01       42000.0    902.0              0
2 2020-04-01       45000.0    903.0              1
3 2020-04-01       56000.0    904.0              0
4 2020-04-01       39000.0    905.0              1

In [ ]:
df_claims.corr()

               claim_amount   Part_ID  Target_column
claim_amount       1.000000 -0.285543      -0.264751
Part_ID           -0.285543  1.000000      -0.364181
Target_column     -0.264751 -0.364181       1.000000

In [ ]:
df_claims.drop(['claim_date'],axis=1,inplace=True)

In [ ]:
df_claims.head()

   claim_amount  Part_ID  Target_column
0       36000.0    901.0              1
1       42000.0    902.0              0
2       45000.0    903.0              1
3       56000.0    904.0              0
4       39000.0    905.0              1

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(df_claims.drop('Target_column',axis=1), 
                                                    df_claims['Target_column'], test_size=0.30, 
                                                    random_state=60)

In [ ]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
classifier.fit(x_train, y_train)
y_pred = classifier.predict(x_test)
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

1.0

In [ ]:
from sklearn.model_selection import cross_val_score

In [ ]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier()
cross_val_score(classifier,df_claims.drop('Target_column',axis=1),df_claims['Target_column'],cv=10,scoring='accuracy').mean()

1.0

In [ ]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
cross_val_score(lr,df_claims.drop('Target_column',axis=1),df_claims['Target_column'],cv=10,scoring='accuracy').mean()

0.7000248880039821

In [ ]:
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression()
logmodel.fit(x_train,y_train)

LogisticRegression()

In [ ]:
y_pred = logmodel.predict(x_test)

In [ ]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [ ]:
print(confusion_matrix(y_test,y_pred))

[[4257  196]
 [1576    0]]

In [ ]:
accuracy_score(y_test,y_pred)*100

70.60872449825841